<!DOCTYPE html>
<html lang="en">
    <title>Lee's Riddles Game</title>
{% extends 'base.html' %} {% block content %}
        <div class="row">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="post-preview">
            <a href="users.txt">
                <h4 class="username">Please enter your username</h4></a>
        </div>
    <div class="row">
        <form method="POST">
            <div class="form-group button-submit">
                <input type="text" name="username" id="username" required data-validation-required>
                <button type="submit" class="btn btn-primary">Begin</button>
            </div>
    </div>
        </form>
{% endblock %}